1. always use bun as the package manager and to run scripts from package json
2. whenever possible use gluestack components from `@/components/ui` instead of react native components directly, for example the text components
3. before committing changes run `bun run validate:strict` to ensure the code follows the code standards